<body>
	<div class="main_panel">
	    <div class="main_text_block">
	        <h2>Login</h2>
	        <div class="container">
	            <form #userForm="ngForm" ng-submit="processLogIn()" name="userForm">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="name">
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>

                    <button [ngClass]="['btn', 'btn-primary']" (click)="processLogIn(userForm.value)">Log In</button>

                    <p>Don't have an account?  Register <a routerLink="/applicantform">here</a></p>
                </form>

                <br>

                {{ confirm_msg }}

			</div>
		</div>
	</div>
</body>
