body {
	background-color: #faa0f7;
    overflow-x: hidden;
    min-height: 100vh;
}

img {
	padding-top: 2%;
	padding-left: 4%;
	padding-bottom: 1%;
	width: 70%;
	margin: 0;
}

h3 {
	font-size: 25px;
}

.links {
	float: right;
}

.main_panel {
	padding: 5%;
}

.main_text_block {
    border-radius: 10px;
	background-color: white;
	text-align-last:left;
	padding: 2%;
}
.main_text_block h2 button {
	text-align-last:center;
}

.left_panel {
    border-radius: 10px;
	background-color: #f0f0f0;
	align-self: auto;
	padding: 2%;
}

.right_panel {
    border-radius: 10px;
	text-align-last:center;
	align-self: top;
	background-color: #f0f0f0;
	padding: 2%;
} 

.content-col {
	vertical-align: top;
	display: inline-block;	  
	padding: 2%;
} 

.left_panel img {
	width: 100%;
	height: auto;
	object-fit:cover;
	border-radius: 50%;
	border:3px solid black;
}