<body>
	<div class="main_panel">
	    <div class="main_text_block">
	        <h2>Download databases as JSON</h2>
	        <div class="container">

					<button class="btn btn-primary" (click)="getBachelorData()">Download the bachelors database</button>
<!-- 
					<a class="nav-link" routerLink="/updateApplicant" routerLinkActive="active">Update Applicant Info</a>

					<a class="nav-link" routerLink="/deleteApplicant" routerLinkActive="active">Delete Account</a> -->

			</div>
		</div>
	</div>
</body>
