<head>
  <title>Home</title>
</head>

<body>
  <h1>Bachelor FANS Website</h1>
  <div id="first-row">
  <section class="content-row row">
    <div class="grid">

      <section class="highlight content-col col-3">
        <div class="crop">
          <img src="../assets/bachelor.png" alt="bachelor">
        </div>
        <a class="subtitle" routerLink="/bachelor" routerLinkActive="active" style="color: #1664e0">Bachelors</a>
      </section>


    <section class="highlight content-col col-3">
      <div class="crop">
        <img src="../assets/contestants.png" alt="contestants">
      </div>
      <a class="subtitle" routerLink="/contestants" routerLinkActive="active" style="color: #1664e0">Contestants</a>
    </section>

    
    <section class="highlight content-col col-3">
      <div class="crop">
        <img src="../assets/applicants.png" alt="applicants">
      </div>
      <a class="subtitle" routerLink="/applicantsHome" routerLinkActive="active" style="color: #1664e0">Applicant Portal</a>
    </section>



    </div>
</section>
</div>

<div id="second-row">
<section class="content-row row">
    <div class="grid">

      <section class="highlight content-col col-3">
      <div class="crop">
        <img src="../assets/courted.png" alt="courted">
      </div>
      <a class="subtitle" routerLink="/courted" routerLinkActive="active" style="color: #1664e0">Relationships</a>
    </section>

    <section class="highlight content-col col-3">
      <div class="crop">
        <img src="../assets/dates.png" alt="dates">
      </div>
      <a class="subtitle" routerLink="/dates" routerLinkActive="active" style="color: #1664e0">Dates</a>
    </section>


    <section class="highlight content-col col-3">
      <div class="crop">
        <img src="../assets/viewers.png" alt="viewers">
      </div>
      <a class="subtitle" routerLink="/viewers" routerLinkActive="active" style="color: #1664e0">Viewers</a>
    </section>

    </div>
</section>
</div>
</body>