<body>
	<div class="main_panel">
	    <div class="main_text_block">
	        <h2>Applicant Home</h2>
	        <div class="container">
	        		<img src="../../../../assets/bachelor.png">

	        		<div class="links">
	        			<h3> Actions to take</h3>
						<a class="nav-link" routerLink="/applicantform" routerLinkActive="active">Register New Applicant</a>

						<a class="nav-link" routerLink="/updateApplicant" routerLinkActive="active">Update Applicant Info</a>

						<a class="nav-link" routerLink="/deleteApplicant" routerLinkActive="active">Delete Account</a>
					</div>

			</div>
		</div>
	</div>
</body>
