<div>
    <button (click)="downloadJSON()" style="float: right;" type="button">Download JSON </button>
  </div>

<table>
    <tr>
      <th>Contestant ID</th>
      <th>Num. Voters</th>
      <th>Contestant Name</th>
      <th>Age</th>
      <th>Hometown City</th>
      <th>Hometown State</th>
      <th>Rose Ranking</th>
      <th>Sent home</th>
      
    </tr>
    <tr *ngFor="let mydata of data[0]">
        <td>{{mydata.contestantID}}</td>
        <td>{{mydata.num_voters}}</td>
        <td>{{mydata.contestant_name}}</td>
        <td>{{mydata.age}}</td>
        <td>{{mydata.hometown_city}}</td>
        <td>{{mydata.hometown_state}}</td>
        <td>{{mydata.rose_ranking}}</td>
        <td>{{mydata.sent_home}}</td>
    </tr>
