<table>
    <tr>
      <th>Date ID</th>
      <th>Bachelor ID</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Activity</th>
      <th>Group Date(Y/N)</th>
      <th>Rose</th>
      
    </tr>
    <tr *ngFor="let mydata of data[0]">
        <td>{{mydata.dateID}}</td>
        <td>{{mydata.num_bachelorID}}</td>
        <td>{{mydata.country}}</td>
        <td>{{mydata.state}}</td>
        <td>{{mydata.city}}</td>
        <td>{{mydata.activity}}</td>
        <td>{{mydata.groupDate}}</td>
        <td>{{mydata.rose}}</td>
    </tr>
  


<!-- <!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>softAOX | Display data from Mysql Database Using AngularJS with PHP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <div class="container">
        <h3 align="center">Display data from Mysql Database Using AngularJS with PHP</h3>
        <div ng-app="sa_display" ng-controller="controller" ng-init="display_data()">
            <table class="table table-bordered">
                <tr>
                    <th>Date ID</th>
                    <th>Bachelor ID</th>
                    <th> Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Activity</th>
                    <th>Group Date(Y/N)</th>
                    <th>Rose</th>
                </tr>
                <tr ng-repeat="{{x}}">
                    <td>{{x.did}}</td>
                    <td>{{x.bid}}</td>
                    <td>{{x.country}}</td>
                    <td>{{x.state}}</td>
                    <td>{{x.city}}</td>
                    <td>{{x.activity}}</td>
                    <td>{{x.groupdate}}</td>
                    <td>{{x.rose}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <script>
        var app = angular.module("sa_display", []);
        app.controller("controller", function ($scope, $http) {
            $scope.display_data = function () {
                $http.get("display.php")
                    .success(function (data) {
                        $scope.names = data;
                    });
            }
        });
    </script>
</body>

</html> -->
